body
  margin 0
  padding 0
  font-family sans-serif
  background-color #162136

  h1, h2, h3, h4, h5, h6, p
    cursor default

  @import './imports/app.styl'

  #tooltip
    position fixed
    top 50%
    left 50%
    padding 12px 32px
    border-radius 16px 16px 16px 0
    opacity .7
    background #8C75C9
    box-shadow 0 2px 18px rgba(0, 0, 0, .1)
    transition .1s

    > p
      margin 0
      font-family Roboto, Candara, Arial
      letter-spacing 1px
      color white
      font-size 60%
      text-transform uppercase
