#Notlogged
  position relative
  width 100%
  height auto
  background-color #1E2539

  > #layout
    background url('img/pictures/sbg_footer.png') bottom/contain no-repeat

    @import './components/notlogged/components/first/index.styl'
    @import './components/notlogged/components/second/index.styl'
    @import './components/notlogged/components/footer/index.styl'

  @import './components/notlogged/components/modal/index.styl'
