> #Footer
  position relative
  width 100%
  padding 6em 10%
  box-sizing border-box

  > #layout
    position relative
    width 100%
    text-align center

    > #logo

      > img
        width 40px
        cursor pointer
        transition .1s

        &:hover
          transform scale(1.1)
          transition .1s

        &:active
          transform scale(1)
          transition .1s



    > #copyright
      margin 2em 0 3em
      font-size 80%
      font-family Myriad Pro, Roboto, Candara, Arial
      letter-spacing 1px

    > #links

      > a
        display inline-block
        margin 0 12px
        font-size 80%
        font-family Myriad Pro, Roboto, Candara, Arial
        text-decoration underline
        letter-spacing 1px
        color white
        cursor pointer
