#Phistory
  position relative
  width 100%
  height auto
  max-height 460px
  padding 3% 5%
  box-sizing border-box
  border-radius 6px
  box-shadow 0 4px 2em rgba(0, 0, 0, .3)
  background white
  color #3d3d3d
  transform rotateY(10deg) translateX(5%)
  transition .4s
  overflow-y auto
  overflow-x visible
  -ms-overflow-style none
  -moz-scrollbars none

  &::-webkit-scrollbar
    width 0

  *
    backface-visibility hidden !important
    -webkit-font-smoothing none !important

  p, h1, h2
    transform translate3d(0, 0, 0) perspective(1px)

  &:hover
    transform rotateY(3deg) translateX(3%) scale(1.02) perspective(50em)
    transition .4s

  #layout
    position relative
    width 100%
    height auto

    #header
      position relative
      width 100%


      h1
        margin 0
        text-align left
        text-transform uppercase
        font-size 100%
        font-family Arial Black, Arial
        letter-spacing 1px



    #content
      position relative
      width 100%
      padding 5% 0

      #list
        position relative
        width 100%

        #empty
          margin 4em 0
          font-family Roboto, Candara, Arial
          letter-spacing 1px
          text-transform uppercase
          font-weight bold

        .item
          position relative
          padding 12px
          box-sizing border-box
          border-bottom solid 1px rgba(0,0,0,.1)
          background white
          z-index 1
          transition .1s

          &:last-child
            border-bottom none

          &:hover
            backface-visibility hidden
            -webkit-font-smoothing none
            transform scale(1.01) perspective(1px)
            transition .15s
            box-shadow 0 0 1em rgba(0, 0, 0, .2)
            border-bottom-color transparent
            border-radius 10px
            z-index 999

          #left, & #right
            position relative
            display inline-block
            vertical-align middle
            margin 0

            #info
              position relative
              display inline-block
              vertical-align middle
              padding-left 12px
              box-sizing border-box

              p
                margin 0
                font-size 70%
                font-family Roboto, Arial
                letter-spacing 1px

              #name
                margin-bottom 6px
                font-size 90%
                font-weight bold

              #date
                opacity .6
                letter-spacing .8px



          #left
            text-align left
            width 80%

            img
              position relative
              display inline-block
              vertical-align middle
              height 48px


          #right
            width 20%
            text-align right

            h2
              margin 0
              font-size 100%
              font-family Roboto, Arial
