#Shipping
  position relative
  width 100%
  height auto
  padding 3% 5%
  box-sizing border-box
  border-radius 6px
  box-shadow 0 4px 2em rgba(0, 0, 0, .3)
  background white
  color #3d3d3d

  #layout
    position relative
    width 100%
    height auto

    #header
      position relative
      width 100%

      h1
        margin 0
        text-align left
        text-transform uppercase
        font-size 100%
        font-family Arial Black, Arial
        letter-spacing 1px



    #content.view
      position relative
      width 100%
      padding 5% 0
      text-align left

      p
        margin 0 0 1%
        font-size 90%
        font-weight bold
        font-family Roboto, Candara, Arial
        letter-spacing 1px

      p#shouldupdate
        display inline-block
        color #DC562B

        & ~ p
          display inline-block
          margin-left 6px
          font-size 90%
          text-decoration underline
          font-weight bold
          font-family Roboto, Candara, Arial
          letter-spacing 1px
          color #DC562B
          cursor pointer
          transition .1s

          &:hover
            transform translateY(-3px)
            transition .1s

          &:active
            transform translateY(-3px) scale(.95)
            transition .1s

      p#name
        margin 5% 0

      p#phone
        margin 5% 0 0


    #content.edit
      position relative
      width 100%
      padding 8% 0 5%
      text-align left

      > div
        position relative

        input
          position relative
          z-index 1
          display block
          width 100%
          padding 8px 12px
          box-sizing border-box
          font-size 120%
          font-family Arial Black, Arial
          letter-spacing 1px
          border none
          background transparent !important
          background-color transparent !important
          outline none
          border-bottom 1px solid #3d3d3d

          &:not(:last-child)
            margin-bottom 24px

          &:focus
            border none
            border-bottom 1px solid #3d3d3d

          &:focus ~ span
            opacity .5
            font-size 80%
            top -50%
            transition .2s

          &:not(.empty) ~ span
            opacity .5
            font-size 80%
            top -50%

          &.invalid
            border-bottom-color #DC562B

            & ~ span
              color #DC562B

        span
          position absolute
          padding 8px 12px
          top 0
          left 0
          font-size 120%
          font-family Arial Black, Arial
          letter-spacing 1px
          color #3d3d3d
          text-transform uppercase
          transition .2s

        &#country

          input
            color rgba(0,0,0,.5)

        &#state, &#city, &#zipcode, &#country
          display inline-block
          width 49%
          box-sizing border-box

          input

            &:focus ~ span
              top -30%

            &:not(.empty) ~ span
              top -30%

        &#state, &#zipcode
          margin-right 1%

        &#city, &#country
          margin-left 1%
