#Checkout
  position relative
  width 100%
  height 100%
  background white
  color #3d3d3d

  > #layout
    position relative
    width 100%
    height 100%
    padding 5%
    box-sizing border-box

    > #header
      position relative
      width 100%

      *
        display inline-block
        vertical-align middle

      #close
        width 26px
        height 26px
        background url('img/icons/cross.png') center/contain no-repeat
        cursor pointer
        transition .1s

        &:hover
          transform scale(1.1)
          transition .1s

        &:active
          transform scale(1)
          transition .1s

      h1
        margin 0
        float right
        text-transform uppercase
        font-size 160%
        font-family Arial Black, Arial
        letter-spacing 1px

    > #notmember
      position relative
      width 100%
      height auto
      top 45%
      left 50%
      transform translate3d(-50%, -50%, 0)
      text-align center

      > h2
        font-size 140%
        font-family Arial Black, Arial
        font-weight bold
        letter-spacing 2px
        text-transform uppercase
        color #DC562B

      > p
        margin 2em 0 3em
        font-family Roboto, Candara, Arial
        letter-spacing 1px
        color #3d3d3d

      > a > button
        border-radius 18px
        text-transform uppercase
        border none
        padding 12px 48px
        color white
        font-size 70%
        font-family Myriad Pro, Arial
        background linear-gradient(to right, #826fe1, #4e3b94)
        box-shadow 0 2px 1em rgba(0, 0, 0, .1)
        outline none
        letter-spacing 2px
        cursor pointer
        transition .1s

        &:hover
          transform scale(1.1)
          transition .1s

        &:active
          transform scale(1)
          transition .1s

    > #content
      position relative
      top 45%
      left 50%
      transform translate3d(-50%, -50%, 0)
      width 70%
      height auto
      margin 0
      border-radius 6px
      box-shadow 0 4px 2em rgba(0, 0, 0, .3)
      background white
      text-align center
      overflow hidden

      #header
        position relative
        z-index 2
        width 100%
        height auto
        padding 3%
        box-sizing border-box
        // box-shadow 0 4px 1em rgba(0, 0, 0, .2)

        h1
          width 100%
          margin 0
          text-align left
          font-size 110%
          font-family Arial Black, Arial
          font-weight bold
          letter-spacing 2px
          text-transform uppercase

      #content
        position relative
        z-index 1
        width 100%
        height 400px
        max-height 400px
        min-height 400px
        padding 2% 3%
        box-sizing border-box
        overflow auto
        -ms-overflow-style none
        -moz-scrollbars none

        &::-webkit-scrollbar
          width 0

        #list
          position relative
          width 100%
          height auto

          .item
            position relative
            padding 12px
            box-sizing border-box
            border-bottom solid 1px rgba(0,0,0,.1)
            background white
            z-index 1
            cursor pointer
            transition .1s

            &.active
              transform scale(1.01) perspective(1px)
              transition .15s
              box-shadow 0 0 1em rgba(0, 0, 0, .2)
              border-bottom-color transparent
              border-radius 10px
              color white
              background-color #3E865A
              z-index 99

              &:hover
                transform scale(1.01) perspective(1px)
                z-index 99

              &:active
                transform scale(1.01) perspective(1px)
                transition 0

              &:not(:first-child)
                background-color #518F5F

            *
              cursor pointer

            &:last-child
              border-bottom none

            &:hover
              transform scale(1.01) perspective(1px)
              transition .15s
              box-shadow 0 0 1em rgba(0, 0, 0, .2)
              border-bottom-color transparent
              border-radius 10px
              z-index 999

            &:active
              transform scale(.95) perspective(1px)
              transition .1s

            #left, & #right
              position relative
              display inline-block
              vertical-align middle
              margin 0

              #info
                position relative
                display inline-block
                vertical-align middle
                width calc(100% - 48px)
                padding-left 12px
                box-sizing border-box

                p
                  margin 0
                  font-size 80%
                  font-family Roboto, Arial
                  letter-spacing 1px

                #name
                  margin-bottom 6px
                  font-size 100%
                  font-weight bold

                #date
                  opacity .6
                  letter-spacing .8px

            #left
              text-align left
              width 80%

              img
                position relative
                display inline-block
                vertical-align middle
                height 48px

            #right
              width 20%
              text-align right

              h2
                margin 0
                font-size 120%
                font-family Roboto, Candara, Arial

      #rtd
        position relative
        visibility hidden
        width 90%
        height 90%
        margin 5%
        perspective 50em
        perspective-origin center 0

        h1#discount
          position absolute
          left 9%
          bottom 0
          width 82%
          margin 0
          opacity 0
          text-align center
          color #85DC66
          font-size 100%
          text-transform none
          letter-spacing 1px
          font-family Arial Black, Arial
          font-weight bold

        #dice, & #dice *
          box-sizing border-box
          position absolute
          top 50%
          left 50%
          box-shadow 0 0 1em rgba(0, 0, 0, .2)
          transform-style preserve-3d
          transition all .1s

        .dice-face
          position absolute
          width size = 86px
          height size
          color black
          text-align center
          backface-visibility visible

        .dice-face:nth-child(1)
          transform translate(-50%, -50%) translateZ(43px) rotateZ(0deg)
          background url('img/icons/dice_1_side.png') center/contain no-repeat
          z-index 1

        .dice-face:nth-child(2)
          transform translate(-50%, -50%) translateZ(-43px) rotateY(180deg) rotateZ(180deg)
          background url('img/icons/dice_6_side.png') center/contain no-repeat
          z-index -1

        .dice-face:nth-child(3)
          transform translate(-50%, -50%) translateX(43px) rotateY(90deg)
          background url('img/icons/dice_4_side.png') center/contain no-repeat
          z-index 0

        .dice-face:nth-child(4)
          transform translate(-50%, -50%) translateX(-43px) rotateY(90deg) rotateX(180deg) rotateZ(180deg)
          background url('img/icons/dice_3_side.png') center/contain no-repeat
          z-index 0

        .dice-face:nth-child(5)
          transform translate(-50%, -50%) translateY(43px) rotateX(90deg) rotateY(180deg) rotateZ(180deg)
          background url('img/icons/dice_2_side.png') center/contain no-repeat
          z-index 0

        .dice-face:nth-child(6)
          transform translate(-50%, -50%) translateY(-43px) rotateX(90deg)
          background url('img/icons/dice_5_side.png') center/contain no-repeat
          z-index 0

      #loading
        position absolute
        display block
        z-index 999999
        width 100%
        height 100%
        top 0
        left 0
        background-color white

        > #logo
          position absolute
          width 56px
          height 56px
          top calc(50% - 28px)
          left calc(50% - 28px)
          animation loading 1s infinite

          > #icon
            width 56px
            height 56px
            background url('img/icons/logo.png') center/contain no-repeat
            animation loading-icon 2s linear infinite

          @keyframes loading {
            0% {
              transform translateY(0)
            }
            50% {
              transform translateY(-40px)
            }
            100% {
              transform translateY(0)
            }
          }

          @keyframes loading-icon {
            0% {
              transform rotate(0deg)
            }
            100% {
              transform rotate(360deg)
            }
          }

      #footer
        position relative
        z-index 2
        width 100%
        height auto
        padding 3%
        box-sizing border-box
        // box-shadow 0 -4px 1em rgba(0, 0, 0, .2)

        h1
          width 100%
          margin 0
          text-align right
          font-size 110%
          font-family Arial Black, Arial
          font-weight bold
          line-height 24px
          letter-spacing 2px
          text-transform uppercase
          color #DC6039


    > #footer
      position absolute
      bottom 5%
      width 90%
      text-align center

      button
        padding 12px 64px
        border-radius 24px
        border none
        box-shadow 0 4px 1em rgba(0,0,0,.3)
        background linear-gradient(to right, #0f8856, #87b267)
        font-size 100%
        text-transform uppercase
        font-weight bold
        letter-spacing 2px
        outline none
        color white
        transition .1s
        cursor pointer

        &:hover
          transform translateY(-8px)
          box-shadow 0 4px 1.5em rgba(0,0,0,.3)
          transition .1s

        &:active
          border none
          transform scale(.9) translateY(-8px)
          box-shadow 0 4px 2em rgba(0,0,0,.3)
          transition .1s

        &#rtd
          margin-right 16px
          padding 12px 36px
          background linear-gradient(to right, #EC735A, #87b267)
          font-size 80%

        &#buy
          margin-right 16px
          padding 12px 48px
          background linear-gradient(to right, #9AD874, #0f8856)
          font-size 80%
