#Ppolicy
  position relative
  width 100%
  height 100%
  background #162138
  color white

  > #layout
    position relative
    width 100%
    height 100%
    padding 5%
    box-sizing border-box
    background url('img/pictures/modal_bg_1.png') right/contain no-repeat


    #header
      position relative
      width 100%

      *
        display inline-block
        vertical-align middle

      #close
        width 26px
        height 26px
        background url('img/icons/cross_white.png') center/contain no-repeat
        cursor pointer
        transition .1s

        &:hover
          transform scale(1.1)
          transition .1s

        &:active
          transform scale(1)
          transition .1s

      h1
        margin 0
        float right
        text-transform uppercase
        font-size 160%
        font-family Arial Black, Arial
        letter-spacing 1px



    #content
      position relative
      width 90%
      height calc(100% - 12% - 26px)
      margin 6% auto
      text-align left
      padding 0 10%
      box-sizing border-box

      &:before, &:after
        content ''
        position absolute
        z-index 2
        bottom 0
        width 80%
        height 32px
        margin 0 auto
        background linear-gradient(to top, #162138, rgba(0,0,0,0))

      &:after
        top 0
        background linear-gradient(to bottom, #162138, rgba(0,0,0,0))

      > #layout
        position relative
        width 100%
        height 100%
        overflow-y scroll
        -ms-overflow-style none
        -moz-scrollbars none

        &::-webkit-scrollbar
          width 0

        h3
          font-family Arial Black, Arial
          letter-spacing 2px

        p
          font-family Roboto, Candara, Arial
          letter-spacing 1px
          line-height 125%
          font-size 90%
          font-weight 200

          &:first-child
            margin-top 2em

          &:last-child
            margin-bottom 2em

        a
          color #FF8B72
