#Membership
  position relative
  width 100%
  height auto
  padding 3% 5%
  box-sizing border-box
  border-radius 6px
  box-shadow 0 4px 2em rgba(0, 0, 0, .3)
  background white
  color #3d3d3d

  #layout
    position relative
    width 100%
    height auto

    #header
      position relative
      width 100%

      h1
        margin 0
        text-align left
        text-transform uppercase
        font-size 100%
        font-family Arial Black, Arial
        letter-spacing 1px



    #content
      position relative
      width 100%
      padding 5% 0
      text-align left

      p#shouldupdate
        font-family Roboto, Candara, Arial
        letter-spacing 1px
        color #DC562B

        & ~ a
          font-size 95%
          text-decoration underline
          font-weight bold
          font-family Roboto, Candara, Arial
          letter-spacing 1px
          color #DC562B
          cursor pointer !important
          transition .1s

          &:hover
            transform translateY(-3px)
            transition .1s

          &:active
            transform translateY(-3px) scale(.95)
            transition .1s

      #notmember
        position relative
        width 100%
        text-align center

        p
          margin 4em 0 2em
          font-family Roboto, Candara, Arial
          letter-spacing 1px
          text-transform uppercase
          font-weight bold
          text-align center

        #bemember
          border-radius 18px
          text-transform uppercase
          border none
          margin-bottom 12px
          padding 12px 48px
          color white
          font-size 70%
          font-family Roboto, Candara, Arial
          font-weight bold
          background linear-gradient(to right, #f1628d, #c2389f)
          box-shadow 0 2px 1em rgba(0, 0, 0, .1)
          outline none
          letter-spacing 2px
          cursor pointer
          transition .1s

          &:hover
            transform scale(1.1)
            transition .1s

          &:active
            transform scale(1)
            transition .1s

      #select-membership
        position relative
        width 100%
        text-align center

        #select
          font-family Arial Black, Arial
          letter-spacing 1px
          text-transform uppercase
          font-weight bold
          text-align center

        .plan
          position relative
          display inline-block
          vertical-align middle
          margin 1em 2%
          padding 2% 5%
          box-sizing border-box
          width 46%
          background-color white
          border-radius 6px
          box-shadow 0 2px 1em rgba(0, 0, 0, .2)
          transition .1s

          &:hover
            transform scale(1.08)
            transition .1s

          h4
            margin 1em 0 1.2em
            font-family Arial Black, Arial
            letter-spacing 1px
            text-transform uppercase
            font-weight bold
            text-align center
            color white
            text-shadow 0 1px 6px rgba(0, 0, 0, .4)

          p
            margin 1.4em 0
            font-family Roboto, Candara, Arial
            font-size 110%
            letter-spacing 1px
            text-align center
            color white
            text-shadow 0 1px 6px rgba(0, 0, 0, .4)

            > strong
              font-family Arial Black, Arial
              font-weight bold
              text-transform uppercase

              &:first-of-type
                color #A1FF80

          button
            border-radius 21px
            text-transform uppercase
            border none
            margin 1em 0
            padding 12px 44px
            color white
            font-size 70%
            font-family Roboto, Candara, Arial
            font-weight bold
            box-shadow 0 2px 1.2em rgba(0, 0, 0, .2)
            text-shadow 0 1px 6px rgba(0, 0, 0, .4)
            outline none
            letter-spacing 2px
            cursor pointer
            transition .1s

            &:hover
              transform scale(1.07)
              transition .1s

            &:active
              transform scale(1)
              transition .1s

          &:first-of-type
            background linear-gradient(to bottom right, #749CF6, #9673C6)

            button
              background linear-gradient(to bottom right, #86A4FF, #B6A0FF)

          &:last-of-type
            background linear-gradient(to bottom right, #89E077, #73B2E0)

            button
              background linear-gradient(to bottom right, #73B2E0, #89E077)




      #enter-credit-card
        position relative
        width 100%
        text-align center

        #select
          margin 0
          font-family Arial Black, Arial
          letter-spacing 1px
          text-transform uppercase
          font-weight bold
          text-align center

        #card
          position relative
          display inline-block
          vertical-align middle
          margin 1em 0
          padding 2% 5%
          box-sizing border-box
          width 100%
          border-radius 10px
          background linear-gradient(to bottom right, #749CF6, #9673C6)
          box-shadow 0 2px 1em rgba(0, 0, 0, .2)
          transition .1s

          > div
            position relative

            &#type
              margin-bottom 1em
              padding 40px 0 16px
              border-bottom 1px solid rgba(255,255,255, 0.4)
              text-align left

              > .icon
                display inline-block
                vertical-align middle
                width 48px
                height 36px
                margin-right 10px
                cursor pointer
                transition .1s

                &:hover
                  transform scale(1.1)
                  transition .1s

                &:active
                  transform scale(1)
                  transition .1s

                &.active
                  opacity .4
                  transform scale(1.2)

                &#visa
                  background url('img/icons/visa.png') center/contain no-repeat

                &#mastercard
                  background url('img/icons/mastercard.png') center/contain no-repeat

                &#amex
                  background url('img/icons/amex.png') center/contain no-repeat

                &#discover
                  background url('img/icons/discover.png') center/contain no-repeat

                &#maestro
                  background url('img/icons/maestro.png') center/contain no-repeat

              > span
                padding-left 0
                opacity 1
                font-size 80%

            > input
              position relative
              z-index 1
              display block
              width 100%
              padding 8px 12px
              box-sizing border-box
              font-size 120%
              color white
              font-family Arial Black, Arial
              letter-spacing 1px
              border 1px solid rgba(255,255,255,.6)
              border-radius 6px
              background-color rgba(255,255,255,.2) !important
              // border none
              // background-color transparent !important
              outline none
              // border-bottom 1px solid white

              &:not(:last-child)
                margin-bottom 24px

              &:focus
                // border none
                // border-bottom 1px solid white

              &:focus ~ span
                opacity .5
                font-size 80%
                top -40%
                transition .2s

              &:not(.empty) ~ span
                opacity .5
                font-size 80%
                top -40%

              &.invalid
                border-color #FFA3A1

                & ~ span
                  color #FFA3A1

            span
              position absolute
              padding 8px 12px
              top 0
              left 0
              font-size 120%
              font-family Arial Black, Arial
              letter-spacing 1px
              color white
              transition .2s

            &#number
              display inline-block
              vertical-align middle
              width 66%
              margin 1em 4% 0 0

              > input

                &:focus ~ span
                  opacity .5
                  font-size 80%
                  top -40%

                &:not(.empty) ~ span
                  opacity .5
                  font-size 80%
                  top -40%

            &#cvv2
              display inline-block
              vertical-align middle
              width 30%
              margin-top 1em

              > input
                font-size 120%
                border 1px solid rgba(255,255,255,.6)
                border-radius 6px
                background-color rgba(255,255,255,.2) !important

                &:focus
                  border 1px solid rgba(255,255,255,.6)

                &:focus ~ span
                  opacity .5
                  font-size 80%
                  top -40%

                &:not(.empty) ~ span
                  opacity .5
                  font-size 80%
                  top -40%

                &.invalid
                  border-color #FFA3A1

            &#expMonth, &#expYear
              display inline-block
              vertical-align middle
              width 48%

              > input
                font-size 100%
                border 1px solid rgba(255,255,255,.6)
                border-radius 6px
                background-color rgba(255,255,255,.2) !important

                &:focus
                  border 1px solid rgba(255,255,255,.6)

                &:focus ~ span
                  opacity .5
                  font-size 70%
                  top -40%

                &:not(.empty) ~ span
                  opacity .5
                  font-size 70%
                  top -40%

                &.invalid
                  border-color #FFA3A1

              > span
                font-size 100%

            &#expMonth
              margin-right 4%

            &#firstName, &#lastName
              display inline-block
              vertical-align middle
              width 48%

              > input

                &:focus ~ span
                  opacity .5
                  font-size 80%
                  top -40%

                &:not(.empty) ~ span
                  opacity .5
                  font-size 80%
                  top -40%

            &#firstName
              margin-right 4%

        > p#cancel
          display inline-block
          vertical-align middle
          margin-right 16px
          font-family Roboto, Candara, Arial
          font-size 80%
          opacity .6
          text-decoration underline
          letter-spacing 1px
          cursor pointer
          transition .1s

          &:hover
            opacity 1
            transition .1s

          &:active
            transform scale(.95)
            transition .1s

        > button#enter
          display inline-block
          vertical-align middle
          border-radius 21px
          text-transform uppercase
          border none
          margin 1em 0
          padding 12px 44px
          color white
          font-size 70%
          background linear-gradient(to bottom right, #79DA6E, #6AAFD2)
          font-family Roboto, Candara, Arial
          font-weight bold
          box-shadow 0 2px 1.2em rgba(0, 0, 0, .2)
          text-shadow 0 1px 6px rgba(0, 0, 0, .4)
          outline none
          letter-spacing 2px
          cursor pointer
          transition .1s

          &:hover
            transform scale(1.07)
            transition .1s

          &:active
            transform scale(1)
            transition .1s



      #member
        position relative
        width 100%
        padding 2em 2em 1em
        box-sizing border-box
        text-align center

        h4
          margin 1em 0
          font-family Roboto, Candara, Arial
          letter-spacing 1px
          text-transform uppercase
          font-weight bold
          text-align center

          > strong
            color #01B094
            text-decoration underline

        p#next-payment
          margin 2em 0
          font-family Roboto, Candara, Arial
          letter-spacing 1px
          text-align center

        p#cancel
          margin 4em 0 0
          opacity .6
          font-size 70%
          font-family Roboto, Candara, Arial
          letter-spacing 1px
          text-align center
          text-transform uppercase
          text-decoration underline
          cursor pointer
