#App
  position fixed
  width 100vw
  height 100vh
  color white
  overflow-y auto

  > #layout
    position relative
    width 100%
    height auto
    min-width 1000px

    @import 'components/notlogged/index.styl'
    @import 'components/logged/index.styl'

  > #loading, #loadingOver
    position fixed
    display block
    z-index 999999
    width 100vw
    height 100vh
    top 0
    left 0
    background-color #162136

    > #logo
      position absolute
      width 56px
      height 56px
      top calc(50% - 28px)
      left calc(50% - 28px)
      animation loading 1s infinite

      > #icon
        width 56px
        height 56px
        background url('img/icons/logo.png') center/contain no-repeat
        animation loading-icon 2s linear infinite


      @keyframes loading {
        0% {
          transform translateY(0)
        }
        50% {
          transform translateY(-40px)
        }
        100% {
          transform translateY(0)
        }
      }

      @keyframes loading-icon {
        0% {
          transform rotate(0deg)
        }
        100% {
          transform rotate(360deg)
        }
      }

  > #loadingOver
    display none
