#Profile
  position relative
  width 100%
  height 100%
  background #162138
  color white

  > #layout
    position relative
    width 100%
    height 100%
    padding 5%
    box-sizing border-box
    background url('img/pictures/modal_bg_1.png') right/contain no-repeat

    > #header
      position relative
      width 100%

      *
        display inline-block
        vertical-align middle

      #close
        width 26px
        height 26px
        background url('img/icons/cross_white.png') center/contain no-repeat
        cursor pointer
        transition .1s

        &:hover
          transform scale(1.1)
          transition .1s

        &:active
          transform scale(1)
          transition .1s

      h1
        margin 0
        float right
        text-transform uppercase
        font-size 160%
        font-family Arial Black, Arial
        letter-spacing 1px



    > #content
      position absolute
      width 90%
      top 50%
      transform translateY(-50%)
      text-align center

      > *
        display inline-block
        vertical-align middle

      > #left
        position relative
        width 70%
        left 0%
        opacity 1
        padding-right 5%
        box-sizing border-box
        perspective 50em

        @import './components/notlogged/components/modal/components/profile/components/phistory/index.styl'

        @import './components/notlogged/components/modal/components/profile/components/shipping/index.styl'

        @import './components/notlogged/components/modal/components/profile/components/password/index.styl'

        @import './components/notlogged/components/modal/components/profile/components/membership/index.styl'

      > #right
        width 30%
        text-align left

        > #list
          position relative
          width 100%

          > a
            text-decoration none
            color white

            > p
              padding-left 0
              opacity .6
              font-size 95%
              line-height 18px
              text-transform uppercase
              font-family Roboto, Candara, Arial
              font-weight bold
              letter-spacing 1px
              cursor pointer
              transition .1s

              &:hover
                opacity 1
                transform translateX(8px)
                transition .1s

              &:active
                transform scale(.95) translateX(4px)
                transition .1s

              &.active
                padding-left 22px
                opacity 1
                cursor default
                transition .1s

                &:before
                  content ''
                  position absolute
                  width 6px
                  height 6px
                  margin 6px
                  left 0
                  border-radius 50%
                  background-color white

                &:hover
                  opacity 1
                  transform translateX(0)
                  transition .1s

                &:active
                  transform scale(1) translateX(0)
                  transition .1s



    > #footer
      position absolute
      bottom 5%
      width 90%

      p
        display inline-block
        margin 0
        font-family Roboto, Candara, Arial
        color white
        opacity .6
        font-size 80%
        letter-spacing 1px
        line-height 36px
        font-weight bold
        text-transform uppercase
        text-decoration underline
        transition .1s
        cursor pointer

        &:hover
          color #FF8B72
          transition .1s

        &:active
          transform scale(.9)
          transition .1s

      #edit
        float right
        width 36px
        height 36px
        background url('img/icons/edit.png') center/contain no-repeat
        transition .1s
        cursor pointer

        &:hover
          transform scale(1.2)
          transition .1s

        &:active
          transform scale(1)
          transition .1s

        &.submit
          background url('img/icons/ok.png') center/contain no-repeat
