> #Rules
  position relative
  width 100%
  height 100%
  overflow auto
  background linear-gradient(to bottom, #202135, #211114)
  -ms-overflow-style none
  -moz-scrollbars none

  &::-webkit-scrollbar
    width 0

  #layout
    position relative
    width 100%
    height 100%
    padding 3% 5% 3%
    box-sizing border-box

    #header
      position relative
      width 100%

      *
        display inline-block
        vertical-align middle

      #close
        width 26px
        height 55px
        background url('img/icons/cross_white.png') center/contain no-repeat
        cursor pointer
        transition .1s

        &:hover
          transform scale(1.1)
          transition .1s

        &:active
          transform scale(1)
          transition .1s

      #nameg
        position absolute
        right 0

        img
          position relative
          height 55px


    #content
      position relative
      width 100%
      height calc(100% - 55px)

      > #left, & #right
        position relative
        display inline-block
        vertical-align top
        height 100%
        width 50%
        padding-top 2%
        box-sizing border-box

      > #left
        position relative
        padding 2% 6% 0
        box-sizing border-box
        height 100%
        overflow-y scroll
        -ms-overflow-style none
        -moz-scrollbars none

        &::-webkit-scrollbar
          width 0

        h1
          font-size 180%
          margin 0
          font-family Arial Black, Arial
          letter-spacing 2px
          white-space pre-line

        p
          font-family Roboto, Candara, Arial
          letter-spacing 1.5px
          line-height 120%
          font-size 90%
          white-space pre-line

      > #right
        position relative
        height 100%
        text-align right

        button
          border-radius 15px
          text-transform uppercase
          border none
          margin-bottom 12px
          padding 10px 30px
          color white
          font-size 70%
          font-family Roboto, Candara, Arial
          font-weight bold
          background linear-gradient(to right, #f1628d, #c2389f)
          box-shadow 0 2px 1em rgba(0, 0, 0, .1)
          outline none
          letter-spacing 2px
          cursor pointer
          transition .1s

          &:hover
            transform scale(1.1)
            transition .1s

          &:active
            transform scale(1)
            transition .1s

        #main
          position relative
          text-align center
          height auto

          img
            width 90%
            height auto

      #merit
        position relative
        width 100%

        > #left, & #right
          position relative
          vertical-align middle
          display inline-block
          height 100%
          width 50%
          padding 3%
          box-sizing border-box

          .post
            display block
            margin 7% 0

            #picture
              display inline-block
              vertical-align middle
              background url('img/icons/game_icons.png') center/contain no-repeat
              height 24px
              width 24px

            h3
              display inline-block
              vertical-align middle
              margin 0 5%
              font-size 90%
              letter-spacing 2px
              text-transform uppercase
              font-family Roboto, Candara, Arial
              font-weight bold

            h4
              display block
              margin 6px 0
              font-size 80%
              letter-spacing 2px
              font-family Roboto, Candara, Arial
              font-weight 100
              opacity .7

            &#year

                #picture
                  background url('img/icons/game_year.png') center/contain no-repeat

            &#designer

                #picture
                  background url('img/icons/game_designer.png') center/contain no-repeat

            &#categories

                #picture
                  background url('img/icons/game_categories.png') center/contain no-repeat

            &#community

                #picture
                  background url('img/icons/game_community.png') center/contain no-repeat

            &#playing_time

                #picture
                  background url('img/icons/game_time.png') center/contain no-repeat

            &#age

                #picture
                  background url('img/icons/game_age.png') center/contain no-repeat

        > #right
          text-align left
