#Modal
  position fixed
  z-index 9999
  display none
  width 100vw
  height 100vh
  overflow auto
  padding-left 20%
  box-sizing border-box
  background-color rgba(0, 0, 0, .5)
  top 0
  left 0

  @media only screen and (max-width: 1000px) {
    padding-left 0
  }

  > #layout
    position relative
    width 100%
    min-width 1000px
    height 100%
    min-height 700px
    right -10%
    opacity 0

    @import './components/notlogged/components/modal/components/sign/index.styl'
    @import './components/notlogged/components/modal/components/profile/index.styl'
    @import './components/notlogged/components/modal/components/checkout/index.styl'
    @import './components/notlogged/components/modal/components/game/index.styl'
    @import './components/notlogged/components/modal/components/rules/index.styl'
    @import './components/notlogged/components/modal/components/pgames/index.styl'
    @import './components/notlogged/components/modal/components/ppolicy/index.styl'
    @import './components/notlogged/components/modal/components/rpolicy/index.styl'
    @import './components/notlogged/components/modal/components/contact/index.styl'
