#Sign
  position relative
  width 100%
  height 100%
  overflow auto
  background white

  #layout
    position relative
    width 100%
    height 100%
    padding 5%
    box-sizing border-box
    background url('img/pictures/modal_bg_1.png') no-repeat, url('img/pictures/modal_bg_2.png') no-repeat
    background-size contain, 40%
    background-position right, left bottom


    #header
      position relative
      width 100%

      *
        display inline-block
        vertical-align middle

      #close
        width 26px
        height 26px
        background url('img/icons/cross.png') center/contain no-repeat
        cursor pointer
        transition .1s

        &:hover
          transform scale(1.1)
          transition .1s

        &:active
          transform scale(1)
          transition .1s

      h1
        margin 0
        color #3d3d3d
        float right
        text-transform uppercase
        font-size 160%
        font-family Arial Black, Arial

      #or
        position absolute
        margin 2.4em 0 0
        right 0
        text-align right

        > h6
          display inline-block
          vertical-align top
          margin 0 8px 0 0
          opacity .6
          color #3d3d3d
          line-height 170%
          text-transform uppercase
          font-family Arial Black, Arial
          letter-spacing 1px

        > a
          display inline-block
          vertical-align top

          > h5
            margin 0
            opacity .6
            color #3d3d3d
            text-transform uppercase
            text-decoration underline
            font-family Arial Black, Arial
            letter-spacing 1px
            cursor pointer
            transition .1s

            &:hover
              opacity 1
              transition .1s

    #content
      position absolute
      width 90%
      top 50%
      transform translateY(-50%)
      text-align center

      > *
        position relative
        display inline-block
        vertical-align middle

      #left
        text-align center
        width 36%

        > div
          position relative

          input
            position relative
            z-index 1
            display block
            width 100%
            padding 8px 12px
            box-sizing border-box
            font-size 120%
            font-family Arial Black, Arial
            letter-spacing 1px
            border none
            background transparent !important
            background-color transparent !important
            outline none
            border-bottom 1px solid #3d3d3d

            &:not(:last-child)
              margin-bottom 24px

            &:focus
              border none
              border-bottom 1px solid #3d3d3d

            &:focus ~ span
              opacity .5
              font-size 80%
              top -50%
              transition .2s

            &:not(.empty) ~ span
              opacity .5
              font-size 80%
              top -50%

            &.invalid
              border-bottom-color #DC562B

              & ~ span
                color #DC562B

          span
            position absolute
            padding 8px 12px
            top 0
            left 0
            font-size 120%
            font-family Arial Black, Arial
            letter-spacing 1px
            color #3d3d3d
            text-transform uppercase
            transition .2s

      #right
        margin-left 4%
        width 36px
        height 36px
        background url('img/icons/next.png') center/contain no-repeat
        cursor pointer
        transition .1s

        &:hover
          transform scale(1.1) translateX(6px)
          transition .1s

        &:active
          transform scale(1) translateX(6px)
          transition .1s

    #footer
      position absolute
      bottom 5%
      width 90%

      > .socials
        width 23%
        padding 0 1em
        border 1px solid rgba(0,0,0,.4)
        border-radius 6px
        background-color white
        cursor pointer
        backface-visibility hidden
        transition .1s

        &:hover
          transform scale(1.05)
          transition .1s

        &:active
          transform scale(1)
          transition .1s

        > p
          display inline-block
          vertical-align middle
          font-size 90%
          font-family Roboto, Candata, Arial
          letter-spacing 1px
          color #3d3d3d
          cursor pointer

        > #icon
          display inline-block
          vertical-align middle
          width 22px
          height 22px
          margin-right 10px

        &#google
          margin-bottom 10px

          > #icon
            background url('img/icons/google.png') center/contain no-repeat

        &#facebook > #icon
          background url('img/icons/facebook.png') center/contain no-repeat

      > #error
        position absolute
        display none
        opacity 0
        right 0
        bottom -8px
        width 60%
        margin 0
        color #ff4747
        text-align right
        font-family Roboto, Candara, Arial
        font-weight bold
        letter-spacing 1px
        font-size 90%
