#Second
  position relative
  width 100%
  padding 8% 10% 0
  box-sizing border-box
  color white

  #shareRules
    display none
    position fixed
    top 0
    left 0
    width 100vw
    height 100vh
    min-width 1000px
    min-height 700px
    background rgba(0,0,0,.6)

    > #layout
      position absolute
      transform translate3d(-50%, -50%, 0) scale(.6)
      top 55%
      opacity 0
      left 50%
      width 30%
      padding 2%
      background white
      color #3d3d3d

      > #header
        position relative
        width 100%

        > h3
          display inline-block
          vertical-align middle
          margin 0
          font-family Roboto, Candara, Arial
          letter-spacing 1px
          font-weight bold
          line-height 16px

        > #close
          display inline-block
          vertical-align middle
          position absolute
          right 0
          width 16px
          height 16px
          background url('img/icons/cross.png') center/contain no-repeat
          cursor pointer
          transition .1s

          &:hover
            transform scale(1.1)
            transition .1s

          &:active
            transform scale(1)
            transition .1s

      > #content

        > #copied
          margin 5em 0 4em
          font-family Roboto, Candara, Arial
          letter-spacing 1px
          font-weight bold
          font-size 105%
          text-align center

        > p
          margin 3em 0
          font-family Roboto, Candara, Arial
          letter-spacing 1px

        > #link
          padding 6px
          border-bottom 1px solid #525252
          opacity .8
          cursor pointer
          transition .1s

          &:hover
            opacity 1
            transition .1s

          > *
            cursor pointer

          > p
            margin 0
            font-family Roboto, Candara, Arial
            letter-spacing .6px
            font-weight bold
            color #525252
            animation pom .8s linear infinite

            @keyframes pom {
              0% {
                transform translateY(0)
              }
              50% {
                transform translateY(-4px)
              }
              100% {
                transform translateY(0)
              }
            }

  > #layout
    position relative
    width 100%

    #title
      text-align center
      position absolute
      width 100%
      font-size 350%
      text-transform uppercase
      letter-spacing 20px
      font-family Arial Black, Arial
      opacity .1

      h1
        margin 0

    #content
      position relative
      width 100%
      padding 8% 0 0
      box-sizing border-box

      #left, & #right
        position relative
        display inline-block
        vertical-align middle
        width 50%

      #left
        padding-top 5%

        img
          width 100%
          height auto
          transition .1s
          animation wiggle
          animation-duration 4s
          animation-iteration-count infinite

          &:hover
            transform scale(1.05)
            transition .1s

        #trivia
          position relative
          top 18px
          opacity 0
          visibility hidden
          font-size 90%
          letter-spacing 1px
          font-family Roboto, Candara, Arial
          font-weight 100
          line-height 120%
          text-align right
          margin-top 7%
          white-space pre-line

      #right
        text-align left
        padding-left 3%
        box-sizing border-box

        h2
          font-family "Myriad Pro", Arial Black, Arial
          text-transform uppercase
          font-size 140%
          margin 3% 0 5%
          letter-spacing 8px
          white-space pre-line

        p
          padding-right 25%
          font-size 90%
          letter-spacing 1px
          font-family Roboto, Candara, Arial
          font-weight 100
          line-height 120%
          margin-bottom 7%
          white-space pre-line

          @media only screen and (max-width: 1100px) {
            padding-right 10%
          }

        button
          border-radius 15px
          text-transform uppercase
          border none
          padding 10px 30px
          color white
          font-size 70%
          font-family Myriad Pro, Arial
          background linear-gradient(to right, #f5608e, #c438a1)
          box-shadow 0 2px 1em rgba(0, 0, 0, .1)
          outline none
          letter-spacing 2px
          cursor pointer
          transition .1s

          &:hover
            transform scale(1.1)
            transition .1s

          &:active
            transform scale(1)
            transition .1s

      #trailer
        position relative
        width 100%
        padding 10% 2% 10%
        box-sizing border-box

        #left, & #right
          position relative
          display inline-block
          vertical-align middle
          width 50%

        #left
          padding 0 5%
          box-sizing border-box
          text-align right

          h2
            margin 10% 0
            text-transform uppercase
            font-size 160%
            letter-spacing 5px
            font-family "Myriad Pro", Arial Black, Arial

          p
            font-size 90%
            letter-spacing 1px
            font-family Roboto, Candara, Arial
            font-weight 100
            line-height 120%
            white-space pre-line

          #ruleslink
            margin 1.5em 0 0
            font-size 90%
            letter-spacing 1.5px
            font-family Roboto, Candara, Arial
            font-weight bold
            line-height 120%
            text-decoration underline
            transition .1s
            cursor pointer

            &:hover
              opacity .5
              transition .1s

            &:active
              transform scale(.96)
              transition .1s

        #right

          #video
            position relative
            width 100%
            perspective 50em

            #youtube_vid
              position relative
              z-index 2
              width 100%
              height 320px
              background-color #ffffff
              box-shadow 0 0 1em rgba(0, 0, 0, .2)
              border-radius 6px
              transform rotateY(15deg)
              transform-origin-z -120px
              cursor pointer
              transition .2s

              &:hover
                transform rotateY(-10deg) scale(1.1) translateX(0)
                transition .2s

              &:active
                transform rotateY(-10deg) scale(1.1) translateX(-5%)
                transition .1s

            #layout
              position absolute
              z-index 1
              top 0
              width 100%
              height 320px
              background-color red
              box-shadow 0 0 1em rgba(0, 0, 0, .2)
              border-radius 6px
              background linear-gradient(to left, #1F2638, #2E2E43)
              transform rotateY(-10deg) translateX(-2%)

      #table
        position relative
        width 100%
        margin 6em 0 2em

        box-sizing border-box

        > #left, & #center, & #right
          position relative
          vertical-align middle
          display inline-block
          width calc(100% / 3)
          padding 1%
          box-sizing border-box

          .post
            display block
            margin 7% 0

            #picture
              display inline-block
              vertical-align middle
              background url('img/icons/game_icons.png') center/contain no-repeat
              height 24px
              width 24px

            h3
              display inline-block
              vertical-align middle
              margin 0 5%
              font-size 90%
              letter-spacing 2px
              text-transform uppercase
              font-family Roboto, Candara, Arial
              font-weight bold

            h4
              display block
              margin 6px 0
              font-size 80%
              letter-spacing 2px
              font-family Roboto, Candara, Arial
              font-weight 100
              opacity .7

            &#year

                #picture
                  background url('img/icons/game_year.png') center/contain no-repeat

            &#designer

                #picture
                  background url('img/icons/game_designer.png') center/contain no-repeat

            &#categories

                #picture
                  background url('img/icons/game_categories.png') center/contain no-repeat

            &#community

                #picture
                  background url('img/icons/game_community.png') center/contain no-repeat

            &#playing_time

                #picture
                  background url('img/icons/game_time.png') center/contain no-repeat

            &#age

                #picture
                  background url('img/icons/game_age.png') center/contain no-repeat

        > #left
          text-align right

        > #center
          text-align center

          img
            width 100%
            height auto
            transition .1s

            &:hover
              transform scale(1.1)
              transition .1s

        > #right
          text-align left

      #btn
        position relative
        width 100%
        text-align center
        margin-bottom 8em

        button
          border-radius 18px
          text-transform uppercase
          border none
          padding 12px 34px
          color white
          font-size 90%
          font-family Myriad Pro, Arial
          background linear-gradient(to right, #f5608e, #c438a1)
          box-shadow 0 2px 1em rgba(0, 0, 0, .1)
          outline none
          letter-spacing 2px
          cursor pointer
          transition .1s

          &:hover
            transform scale(1.15)
            transition .1s

          &:active
            transform scale(1)
            transition .1s

        a
          display block
          margin 1.4em 0
          font-size 80%
          font-family Myriad Pro, Roboto, Candara, Arial
          text-decoration underline
          letter-spacing 1px
          color white
          cursor pointer
