#Contact
  position relative
  width 100%
  height 100%
  overflow auto
  background white

  #layout
    position relative
    width 100%
    height 100%
    padding 5%
    box-sizing border-box
    background url('img/pictures/modal_bg_1.png') no-repeat, url('img/pictures/modal_bg_2.png') no-repeat
    background-size contain, 40%
    background-position right, left bottom


    #header
      position relative
      width 100%

      *
        display inline-block
        vertical-align middle

      #close
        width 26px
        height 26px
        background url('img/icons/cross.png') center/contain no-repeat
        cursor pointer
        transition .1s

        &:hover
          transform scale(1.1)
          transition .1s

        &:active
          transform scale(1)
          transition .1s

      h1
        margin 0
        color #3d3d3d
        float right
        text-transform uppercase
        font-size 160%
        font-family Arial Black, Arial

    #content
      position absolute
      width 90%
      top 50%
      transform translateY(-50%)
      text-align center

      > *
        position relative
        display inline-block
        vertical-align middle

      #left
        width 40%
        text-align center

        > div
          position relative

          textarea
            resize none

          > input, & > textarea
            position relative
            z-index 1
            display block
            width 100%
            padding 8px 12px
            box-sizing border-box
            font-size 120%
            font-family Arial Black, Arial
            letter-spacing 1px
            border none
            background transparent !important
            background-color transparent !important
            outline none
            border-bottom 1px solid #3d3d3d

            &:not(:last-child)
              margin-bottom 24px

            &:focus
              border none
              border-bottom 1px solid #3d3d3d

            &:focus ~ span
              opacity .5
              font-size 80%
              top -50%
              transition .2s

            &:not(.empty) ~ span
              opacity .5
              font-size 80%
              top -50%

            &.invalid
              border-bottom-color #DC562B

              & ~ span
                color #DC562B

          > textarea

            &:focus ~ span
              opacity .5
              font-size 80%
              top -15%
              transition .2s

            &:not(.empty) ~ span
              opacity .5
              font-size 80%
              top -15%

          span
            position absolute
            padding 8px 12px
            top 0
            left 0
            font-size 120%
            font-family Arial Black, Arial
            letter-spacing 1px
            color #3d3d3d
            text-transform uppercase
            transition .2s


      #right
        margin-left 4%
        width 36px
        height 36px
        background url('img/icons/next.png') center/contain no-repeat
        cursor pointer
        transition .1s

        &:hover
          transform scale(1.1) translateX(6px)
          transition .1s

        &:active
          transform scale(1) translateX(6px)
          transition .1s
