#Logged
  position relative
  width 100%
  height auto
  background #1F2638

  > #layout
    background url('img/pictures/sbgf_footer.png') bottom/contain no-repeat

    @import './components/logged/components/first/index.styl'
    @import './components/logged/components/second/index.styl'
    @import './components/notlogged/components/footer/index.styl'

  @import './components/notlogged/components/modal/index.styl'
