#Pgames
  position relative
  width 100%
  height 100%
  background #162138
  color white

  #layout
    position relative
    width 100%
    height 100%
    padding 5%
    box-sizing border-box
    background url('img/pictures/modal_bg_1.png') right/contain no-repeat


    #header
      position relative
      width 100%

      *
        display inline-block
        vertical-align middle

      #close
        width 26px
        height 26px
        background url('img/icons/cross_white.png') center/contain no-repeat
        cursor pointer
        transition .1s

        &:hover
          transform scale(1.1)
          transition .1s

        &:active
          transform scale(1)
          transition .1s

      h1
        margin 0
        float right
        text-transform uppercase
        font-size 160%
        font-family Arial Black, Arial
        letter-spacing 1px



    #content
      position absolute
      width 55%
      top 52%
      left 10%
      transform translateY(-50%)
      text-align center
      background #210d0e
      border-radius 10px
      padding 0 7%
      box-sizing border-box
      box-shadow 0 4px 1em rgba(0, 0, 0, .2)

      #picture
        position absolute
        width 100%
        top -1.5em
        left 0

        img
          height 70px


      h2
        padding-top 20%
        margin 0 0 1.5em
        font-size 100%
        letter-spacing 1px
        color white
        font-family Arial
        box-sizing border-box

      p
        font-size 85%
        letter-spacing 1px
        color white
        font-weight 100
        font-family Roboto, Candara, Arial
        margin-bottom 30%
        opacity .75

      #img
        position absolute
        width 100%
        left 0
        top 21em

        .img
          position relative
          display inline-block
          vertical-align middle
          width calc(85% / 3)
          border-radius 10px

          img
            height 100px



    #footer
      position absolute
      bottom 5%
      width 90%

      p
        margin 0
        font-family Roboto, Candara, Arial
        color white
        letter-spacing 1px
