#Second
  position relative
  width 100%
  padding 48px 10%
  box-sizing border-box
  background white
  color #3d3d3d

  @media only screen and (max-width: 1100px)  {
    padding 48px 5%
  }

  #layout
    position relative
    width 100%

    #header
      position relative
      width 100%

      #left, & #right
        position relative
        display inline-block
        vertical-align middle
        width 50%

      #left

        *
          display inline-block
          vertical-align middle

        img
          height 56px

        h2
          margin-left 16px
          font-family "Myriad Pro", Arial Black, Arial
          text-transform uppercase
          font-size 100%
          letter-spacing 2px

      #right
        text-align right

        *
          display inline-block
          vertical-align middle

        button
          border-radius 15px
          text-transform uppercase
          border none
          padding 10px 30px
          color white
          font-size 70%
          font-family Myriad Pro, Arial
          background linear-gradient(to right, #f5608e, #c438a1)
          box-shadow 0 2px 1em rgba(0, 0, 0, .1)
          outline none
          letter-spacing 2px
          cursor pointer
          transition .1s

          &:hover
            transform scale(1.15)
            transition .1s

          &:active
            transform scale(1)
            transition .1s

          &#signup
            margin-left 12px
            background linear-gradient(to right, #8271e4, #4a398e)

    > #content
      position relative
      width 90%
      margin 5em 5% 0
      font-family Arial Black, Arial

      @media screen and (max-width: 1200px)
        margin 7em 5% 0

      > #title
        position relative
        width 100%
        text-transform uppercase
        text-align center

        h1
          position absolute
          width 100%
          margin 0
          text-align center
          font-size 400%
          letter-spacing 8px
          opacity .1

          @media only screen and (max-width: 1100px)  {
            font-size 300%
          }

        h2
          position relative
          z-index 99
          width 100%
          margin 0
          padding-top 2.6em
          font-size 130%
          letter-spacing 2px

          @media only screen and (max-width: 1100px)  {
            padding-top 2em
          }

      #things
        position relative
        width 100%
        margin 5em 0

        .thing
          position relative
          z-index 1
          display inline-block
          vertical-align top
          width calc(94% / 3)
          height auto
          overflow hidden
          padding 3%
          box-sizing border-box
          background-color white
          box-shadow 0 3px 1em rgba(0, 0, 0, .1)
          border-radius 6px
          transition .2s
          cursor url

          &:hover
            z-index 99
            transform scale(1.1)
            transition .2s

          &#first

            #icon
              background url('img/icons/1st.png') center/contain no-repeat

          &#second
            margin 0 3%

            #icon
              background url('img/icons/2nd.png') center/contain no-repeat

          &#third

            #icon
              background url('img/icons/3rd.png') center/contain no-repeat

          #icon
            width 100px
            height 100px
            margin .75em auto 2.25em

          h3
            font-family Myriad Pro, Roboto, Candara, Arial
            letter-spacing 1px
            font-weight bold
            text-align center

          p
            position relative
            margin 0 0 2%
            font-family Myriad Pro, Roboto, Candara, Arial
            letter-spacing .5px
            font-size 80%
            line-height 140%

            > a
              text-decoration underline
              color #DC6145
              cursor alias

          &#first

            p
              padding-top 8px

          &#second

            h3
              margin 2.6em 0 1em

            p
              padding-top 12px

      #magical
        position relative
        padding 4em 0 0

        #text
          position relative
          z-index 1
          margin-bottom 14em
          padding 0 23% 0 5%
          font-size 100%
          font-family Myriad Pro, Roboto, Candara, Arial
          letter-spacing .5px
          line-height 1.4em
          text-align right

        img#derigo
          position absolute
          z-index 0
          width 20%
          top 0
          right 0

      #mGame
        position relative
        width 100%
        margin 12em 0 4em
        font-family Arial Black, Arial
        text-align center

        @media screen and (max-width: 1200px)
          width 90%
          margin 6em 5% 0

        #title
          position relative
          width 100%
          text-transform uppercase
          text-align center

          h2
            position relative
            z-index 99
            width 100%
            margin 0 0 3em
            font-size 160%
            letter-spacing 3px

        > #wrapper
          margin 3em auto 2em
          position relative
          width 86%
          background #443C4A
          border-radius 10px
          box-shadow 0 3px 1.6em rgba(0, 0, 0, .4)

          #left
            position absolute
            top -2em
            left -5%

            img
              height 128px

          #right
            position absolute
            right 0

            img
              height 40px

          #content
            position relative
            width 100%
            text-align center
            text-transform none
            padding 3% 10% 5%
            box-sizing border-box

            #picture
              position relative
              width 100%
              margin-bottom 3em

              img
                height 86px

            h2
              font-size 100%
              letter-spacing 2px
              color white
              font-family Roboto, Candara, Arial
              margin 0 0 2em

            p
              font-size 90%
              letter-spacing 2px
              color white
              font-family Georgia, Bookman Old Style, Times New Roman
              line-height 140%
              margin-bottom 4em
              white-space pre-line

            button
              border-radius 15px
              text-transform uppercase
              border none
              padding 10px 30px
              color white
              font-size 70%
              font-family Myriad Pro, Arial
              background linear-gradient(to right, #f25e8c, #c738a2)
              box-shadow 0 2px 1em rgba(0, 0, 0, .1)
              outline none
              letter-spacing 2px
              cursor pointer
              transition .1s

              &:hover
                transform scale(1.15)
                transition .1s

              &:active
                transform scale(1)
                transition .1s

        p.link
          font-size 90%
          text-transform none
          font-weight 100
          text-decoration underline
          font-family Myriad Pro, Roboto, Candara, Arial
          letter-spacing 1px
          color #3d3d3d
          cursor pointer
