#Password
  position relative
  width 100%
  height auto
  padding 3% 5%
  box-sizing border-box
  border-radius 6px
  box-shadow 0 4px 2em rgba(0, 0, 0, .3)
  background white
  color #3d3d3d

  #layout
    position relative
    width 100%
    height auto

    #header
      position relative
      width 100%

      h1
        margin 0
        text-align left
        text-transform uppercase
        font-size 100%
        font-family Arial Black, Arial
        letter-spacing 1px



    #content
      position relative
      width 100%
      padding 10% 0 5%
      text-align left

      p
        margin 0 0 2%
        font-size 100%
        font-weight bold
        font-family Roboto, Candara, Arial
        letter-spacing 1px

      #text
        margin-bottom 5%

      #state
        border-bottom:1px solid black

      #left, & #right
        position relative
        display inline-block
        vertical-align bottom

      #left
        width 70%

        input
          position relative
          z-index 1
          display block
          width 100%
          padding 8px 12px
          box-sizing border-box
          font-size 120%
          font-family Arial Black, Arial
          letter-spacing 1px
          border none
          background transparent !important
          background-color transparent !important
          outline none
          border-bottom 1px solid #3d3d3d

          &:focus
            border none
            border-bottom 1px solid #3d3d3d

          &:focus ~ span
            opacity .5
            font-size 80%
            top -50%
            transition .2s

          &:not(.empty) ~ span
            opacity .5
            font-size 80%
            top -50%

          &.invalid
            border-bottom-color #DC562B

            & ~ span
              color #DC562B

        span
          position absolute
          padding 8px 12px
          top 0
          left 0
          font-size 100%
          font-family Arial Black, Arial
          letter-spacing 1px
          color #3d3d3d
          opacity .3
          text-transform uppercase
          transition .2s

      #right
        width 30%
        text-align right

        button
          border-radius 21px
          text-transform uppercase
          border none
          margin 2em 0 0
          padding 10px 40px
          color white
          font-size 80%
          font-family Myriad Pro, Arial
          background linear-gradient(to right, #f7618e, #c5369f)
          box-shadow 0 2px 1em rgba(0, 0, 0, .1)
          outline none
          letter-spacing 2px
          cursor pointer
          transition .1s

          &:hover
            transform scale(1.15)
            transition .1s

          &:active
            transform scale(1)
            transition .1s
