> #First
  position relative
  width 100%
  height 100vh
  min-height 700px
  background-image url('img/pictures/sbg.png')
  background-position center
  background-repeat no-repeat
  background-size cover

  #wrapper
    position absolute
    z-index 2
    width 60%
    height auto
    top 50%
    transform translateY(-50%)
    margin 0 20%
    text-align center

    #logo
      position relative
      width 100%

      img
        width 62px
        height 68px
        animation rotate
        animation-duration 3s
        animation-iteration-count infinite

    #content
     position relative
     font-size 14px
     letter-spacing 1.5px
     margin 20px 22% 0

     h2
      margin 25px 0 40px
      text-transform uppercase
      letter-spacing 10px

     p
      margin-bottom 50px
      font-size 90%
      font-family Myriad Pro, Roboto, Candara, Arial
      color #BDBFC5

    a
      width 66px
      margin 0 auto
      display block

     #door
       margin 0 auto
       width 66px
       height 66px
       background url('img/icons/door_closed.png') center/contain no-repeat
       filter drop-shadow(0 0 .2em rgba(0,0,0,0.5))
       cursor pointer
       transition .1s
       animation pulse
       animation-duration 1s
       animation-iteration-count infinite

       &:hover
         background url('img/icons/door_opened.png') center/contain no-repeat
         transform scale(1.15)
         transition .1s

       &:active
         transform scale(1.3)
         transition .1s

      button
        position absolute
        left 50%
        transform translateX(-50%)
        border-radius 15px
        text-transform uppercase
        border none
        margin 2em 0 0
        padding 10px 30px
        color white
        font-size 80%
        font-family Myriad Pro, Arial
        background linear-gradient(to right, #8271e4, #ec735a)
        box-shadow 0 2px 1em rgba(0, 0, 0, .1)
        outline none
        letter-spacing 2px
        cursor pointer
        transition .1s

        &:hover
          transform scale(1.15) translateX(-43%)
          transition .1s

        &:active
          transform scale(1) translateX(-50%)
          transition .1s



  #footer
    position absolute
    width 100%
    margin-bottom 4%
    bottom 0

    #scroll
      width 32px
      margin 0 auto

      #dots
        width 24px
        height 24px
        margin 0 auto
        background url('img/icons/scroll_dots.png') center/contain no-repeat

      #down
        width 18px
        height 18px
        margin 16px auto 0
        background url('img/icons/scroll.png') center/contain no-repeat
        animation scroll
        animation-duration 2s
        animation-iteration-count infinite
        transition .1s
        cursor pointer

        &:hover
          width 24px
          height 24px
          transition .1s

        &:active
          width 18px
          height 18px
          transition .1s

  #bg
    position absolute
    z-index 1
    background url('img/pictures/items.png') center/contain no-repeat
    width 58%
    height 55%
    min-height 440px
    margin 0 21%
    bottom 10%

  @keyframes rotate {
    0% {
      transform rotate(0deg)
    }
    100% {
      transform rotate(360deg)
    }
  }

  @keyframes pulse {
    0% {
      transform scale(1)
    }
    50% {
      transform scale(1.1)
    }
    100% {
      transform scale(1)
    }
  }

  @keyframes scroll {
    0% {
      transform translateY(0)
    }
    50% {
      transform translateY(6px)
    }
    100% {
      transform translateY(0)
    }
  }


  @media screen and (max-width: 1200px)

    #wrapper
      width 80% !important
      margin 0 10% !important


    #content > h2
      font-size 140%



  @media screen and (max-width: 600px)

    #layout
      min-width auto !important

    #logo
      margin-top 25% !important

    #sub
      display none

    #content
      margin 88px 0 0!important

      > p
        margin-top 14% !important

    #footer
      margin-top 26% !important
