> #First
  position relative
  width 100%
  height 100vh
  min-height 700px
  background-image url('img/pictures/sbg_top.png')
  background-position center
  background-repeat no-repeat
  background-size 100% 100%

  #header
    position absolute
    width 100%
    padding 2% 5% 0
    box-sizing border-box
    text-align center

    #left, & #center, & #right
      position relative
      display inline-block
      vertical-align middle
      width (100% / 3)

    #left
      text-align left

      *
        display inline-block
        vertical-align middle

      img
        height 44px

      h2
        margin-left 16px
        font-family "Myriad Pro", Arial Black, Arial
        text-transform uppercase
        font-size 85%
        letter-spacing 2px

    #center

      img
        height 66px
        cursor pointer
        transition .1s

        &:hover
          transform scale(1.15)
          transition .1s

        &:active
          transform scale(1)
          transition .1s

    #right
      text-align right

      button
        border-radius 15px
        text-transform uppercase
        border none
        padding 10px 28px
        color white
        font-size 70%
        font-family Myriad Pro, Arial
        background linear-gradient(to right, #826fe1, #4e3b94)
        box-shadow 0 2px 1em rgba(0, 0, 0, .1)
        outline none
        letter-spacing 2px
        cursor pointer
        transition .1s

        &:hover
          transform scale(1.15)
          transition .1s

        &:active
          transform scale(1)
          transition .1s

  #wrapper
    position absolute
    z-index 2
    width 60%
    height auto
    top 50%
    transform translateY(-50%)
    margin 0 20%
    text-align center

    #name_g
      position relative
      width 100%
      margin 0 auto 1.6em
      animation wiggle
      animation-duration 3s
      animation-iteration-count infinite

      img
        height 108px

      @keyframes wiggle {
        0% {
          transform rotate(0)
        }
        33% {
          transform rotate(2deg)
        }
        66% {
          transform rotate(-2deg)
        }
        100% {
          transform rotate(0)
        }
      }

    #content
     position relative
     font-size 14px
     letter-spacing 1.5px
     margin 20px 18% 0

     p
      margin-bottom 50px
      padding 0
      box-sizing border-box
      font-size 105%
      font-family Georgia, Bookman Old Style, Times New Roman
      letter-spacing 1.5px
      line-height 140%
      color white
      white-space pre-line

  #footer
    position absolute
    width 100%
    margin-bottom 4%
    bottom 0

    #scroll
      width 32px
      margin 0 auto

      #dots
        width 24px
        height 24px
        margin 0 auto
        background url('img/icons/scroll_dots.png') center/contain no-repeat

      #down
        width 18px
        height 18px
        margin 16px auto 0
        background url('img/icons/scroll.png') center/contain no-repeat
        animation scroll
        animation-duration 2s
        animation-iteration-count infinite
        transition .1s
        cursor pointer

        &:hover
          width 24px
          height 24px
          transition .1s

        &:active
          width 18px
          height 18px
          transition .1s

  #bg
    position absolute
    background url('img/pictures/items_2.png') center/contain no-repeat
    z-index 1
    width 58%
    height 55%
    min-height 440px
    margin 0 21%
    bottom 10%

  @keyframes rotate {
    0% {
      transform rotate(0deg)
    }
    100% {
      transform rotate(360deg)
    }
  }

  @keyframes pulse {
    0% {
      transform scale(1)
    }
    50% {
      transform scale(1.1)
    }
    100% {
      transform scale(1)
    }
  }

  @keyframes scroll {
    0% {
      transform translateY(0)
    }
    50% {
      transform translateY(6px)
    }
    100% {
      transform translateY(0)
    }
  }


  @media screen and (max-width: 1200px)

    #wrapper
      width 80% !important
      margin 0 10% !important


    #content > h2
      font-size 140%


  @media screen and (max-width: 600px)

    #layout
      min-width auto !important

    #name_g
      margin-top 25% !important

    #sub
      display none

    #content
      margin 88px 0 0!important

      > p
        margin-top 14% !important

    #footer
      margin-top 26% !important
